<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listas en HTML</title>
</head>
<body>
    <h1>Listas en HTML</h1>
    <hr>
    <!--Listas Ordenadas-->

    <ol type="i">
        <li>Safari</li>
        <li>Chrome</li>
        <li>Mosaic</li>
        <li>Netscape</li>

    </ol>

    <ol type="I">
        <li>Safari</li>
        <li>Chrome</li>
        <li>Mosaic</li>
        <li>Netscape</li>

    </ol>

    <ol type="A">
        <li>Safari</li>
        <li>Chrome</li>
        <li>Mosaic</li>
        <li>Netscape</li>

    </ol>

    <ol type="a">
        <li>Safari</li>
        <li>Chrome</li>
        <li>Mosaic</li>
        <li>Netscape</li>

    </ol>


    <p>Listas Anidadas</p>
    <ol type="i">
        <li> Safari
            <ol>
                <li>Version 1.0</li>
                <li>Version 2.0</li>
                <li>Version 3.0</li>
                <li>Version 4.0</li>
            </ol>
        </li>
    </ol>
    <hr>
    <!--Listas Desordenadas-->
    <ul  style="list-style-type: disc;">
        <li>Piña</li>
    </ul>
    <ul style="list-style-type: disc;">
        <li>Manzana</li>
        <li>Guayaba</li>
        <li>Naranja</li>
        <li>Piña</li>
    </ul>

    <ul style="list-style-type: square;">
        <li>Manzana</li>
        <li>Guayaba</li>
        <li>Naranja</li>
        <li>Piña</li>
    </ul>
    <ul style="list-style-type: circle;">
        <li>Manzana</li>
        <li>Guayaba</li>
        <li>Naranja</li>
        <li>Piña</li>
    </ul>
    <hr>
    <!--Listas de Definiciones de Terminos-->
    <dl>
        <dt>Mosaic</dt>
        <dd>Se considera el primer navegador</dd>

        <dt>Tim</dt>
        <dd>El creador de la World Wide Web</dd>

        <dt>Bill Gates</dt>
        <dd>Co-fundador de Microsoft</dd>

    </dl>

</body>
</html>